@model IEnumerable<LibrarieModele.anidestudiu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cicluldestudii.nume_ciclu_de_studii)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anul_de_studiu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cicluldestudii.nume_ciclu_de_studii)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anul_de_studiu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_ani_de_studiu }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_ani_de_studiu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_ani_de_studiu })
        </td>
    </tr>
}

</table>
